#ToggleVisibility {
  font-family: Arial, sans-serif;
  color: #fffddd;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
#SideBar {
  flex: 1;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  background-color: #111111;
  overflow-y: auto;
  padding-left: 20px;
  border-right: 3px solid #aaaaaa;
}

#LeftSide {
  flex: 5;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-top: 35px;
  padding-left: 30px;
  background: #333333;
  overflow-y: auto;
}

#InfoComponent {
  width: 95%;
  border-radius: 7px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
}
#InfoContainer1 {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

#GraphContainer {
  width: 95%;
  background-color: #000000;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 7px;
}
#GraphContainer1 {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
}
#HistogramContainer {
  width: 95%;
  background-color: #000000;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  border-radius: 7px;
}

button {
  width: 40px;
  background-color: #000000;
  color: #fffddd;
  border: 3px solid black;
  border-radius: 7px;
}
.onlyArrow {
  width: 95%;
  border-radius: 7px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
}

a {
  color: #fffddd;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffff99;
}
h1 {
  font-size: 40px;
}
h3,
label {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}
p {
  font-size: 16px;
}
#modeDiv {
  display: flex;
  align-items: baseline;
}
select {
  background-color: #444444;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  color: #fffddd;
  margin-top: 5px;
}
#Chart {
  width: 95%;
}
.titleToggle {
  margin: 10px;
  margin-left: 0px;
}
a,
p {
  margin-top: 10px;
  margin-bottom: 0px;
}
#Nodata {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
#histButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.navBarButton {
  font-size: 20px;
  width: 93%;
  margin-bottom: 15px;
  border: none;
  background-color: #111111;
  border-radius: 3px;
}
.navBarButton:hover {
  background-color: #222222;
}
#choose_dataset {
  margin-bottom: 25px;
}
#selectOptionForModels,
#selectOptionForMetric {
  width: 36%;
}
#modelslist {
  display: inline;
  margin-top: 10px;
}

/* Width, Track, and Handle Styles */
::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #333333; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scroll thumb */
  border-radius: 3px; /* roundness of the scroll thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color on hover */
}

/* Firefox */
/* width, track and handle styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* handle on hover */
*:hover {
  scrollbar-color: #555 #f1f1f1;
}
